.folder-list {
  
}

.folder-item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: .5rem .3rem;
  border-top: 1px solid var(--light-gray);
  transition: .2s;

  &:hover .folder-name svg {
    visibility: visible;
  }

  input {
    margin: -5px 0 -5px -5px;
    padding-left: 4px;
    border: 1px solid var(--light-gray);
    border-radius: 8px;

    font-size: 1rem;
    font-family: var(--font-family);
  }

  input:focus-visible {
    outline: none;
  }

  input::placeholder {
    /* font-size: 1rem; */
  }
}

.folder-name {
  display: flex;
  align-items: center;
  gap: .3rem;

  svg {
    visibility: hidden;
    margin-left: -15px;
    width: 1rem;
    height: 1rem;
    stroke: var(--dark-gray);
  }
}

.folder-actions {
  display: flex;
  gap: .5rem;

  svg {
    width: 1.6rem;
    height: 1.6rem;
    stroke: var(--dark-gray);
    transition: .2s;
  }

  svg:hover {
    stroke: black;
    cursor: pointer;
  }

  button {
    padding: 3px 10px;
    border-radius: 7px;
    transition: .2s;
  }

  button:hover {
    filter: brightness(.95);
    cursor: pointer;
  }
}

.folder-save {
  color: #ffffff;
  background-color: #d77c9b;
}

.add-folder {
  padding: .8rem 0 .5rem;
  border-top: 1px solid var(--light-gray);
  text-align: center;
  color: var(--dark-gray);
  transition: .2s;

  &:hover {
    color: black;
    cursor: pointer;
  }
}