.clip-action-container {
  display: flex;
  align-items: center;
}

.clip-action {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: .8rem;
  height: 2rem;
  width: 2rem;
  border-radius: 100%;
  transition: .2s;

  &:hover {
    cursor: pointer;
    filter: brightness(.9);
  }
}

.clip-action.plus {
  background-color: var(--orange);

  svg {
    fill: #ffffff;
    width: 1.1rem;
    height: 1.1rem;
  }
}

.clip-action.disabled {
  opacity: 0.4;
  cursor: not-allowed !important;

  &:hover {
    filter: none;
  }
}

.clip-action.pencil {
  background-color: var(--blue);

  svg {
    margin-left: 1px;
    margin-bottom: 2px;
    width: 1.3rem;
    height: 1.3rem;
    stroke: #ffffff;
  }
}

/* --- Layout Toggle --- */
.layout-toggle {
  display: flex;
  align-items: center;
  padding: 4px;
  border-radius: 14px;
  background-color: var(--lighter-gray);
}

.layout-toggle svg {
  padding: 4px 6px;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 10px;
  transition: .2s;

  &:first-child path {
    stroke: var(--dark-gray);
  }

  &:nth-child(2) {
    fill: var(--dark-gray);
  }

  &.active {
    background-color: white;
  }

  &:hover {
    cursor: pointer;
  }
}

/* --- Clips --- */
.clip-container {
  padding-top: 10px;
  padding-right: 10px;
  max-height: 400px;
  overflow-y: auto;
}

.clip {
  position: relative;
  padding: 4px 8px;
  border: 1px solid var(--light-gray);
  border-radius: 10px;
  white-space: pre-wrap;
  background-color: #ffffff;
  transition: .2s;

  &:hover {
    cursor: pointer;
    background-color: var(--lighter-gray);
  }

  &:has(.clip-delete:hover) {
    background-color: #ffffff;
  }
}

.clip-delete {
  position: absolute;
  top: -8px;
  right: -8px;
  width: 18px;
  height: 18px;
  border-radius: 100%;
  border: 1px solid var(--light-gray);
  background-color: #ffffff;
  color: var(--dark-gray);
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;

  &:hover {
    filter: brightness(.9);
  }
}

.clip-list {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.clip-grid {
  display: flex;
  gap: .5rem;
  flex-wrap: wrap;
  align-items: flex-start;
}

.clip.short {
  width: fit-content;
}